<div class="card device-board container-fluid">
    <div class="row board-header bg-dark p-2">
        <h4>Điều khiển thiết bị</h4>
    </div>
    <div class="row p-1">
        <div class="row justify-content-md-center p-2">
            <div class="col col-4 bg-gray m-1 p-2">
                <div class="card">
                    <div class="container-fluid">
                        <div class="row justify-content-md-center">
                        <div class="card-body col-8 col ">

                            <p class="card-text">Nhiệt độ</p>
                            <span class="badge badge-success">Success</span>
                            <p class="card-text">{{data.temp}}&#8451;</p>
                        </div>
                        <img class="card-img-top col-4 p-2" src="https://cdn1.iconfinder.com/data/icons/covid-19-74/32/temperature_thermometer_covid-19-128.png" alt="Card image cap">
                    </div>
                    </div>
                </div>
            </div>
            <div class="col col-4 bg-gray m-1 p-2">
                <div class="card">
                    <div class="container-fluid">
                        <div class="row justify-content-md-center">
                        <div class="card-body col-8 col">

                            <p class="card-text">Độ ẩm</p>
                            <span class="badge badge-success">Success</span>
                                <p class="card-text">{{data.humi}}&#37;</p>
                        </div>
                        <img class="card-img-top col-4 p-2" src="https://cdn4.iconfinder.com/data/icons/the-weather-is-nice-today/64/weather_44-128.png" alt="Card image cap">
                    </div>
                    </div>
                </div>
            </div>
            <div class="col col-4 bg-gray m-1 p-2">
                <div class="card">
                    <div class="container-fluid">
                        <div class="row justify-content-md-center">
                        <div class="card-body col-8 col">
                            <p class="card-text">Ánh sáng</p>
                            <span class="badge badge-success">Success</span>
                                <p class="card-text">{{data.lux}}</p>
                        </div>
                        <img class="card-img-top col-4 p-2" src="https://cdn4.iconfinder.com/data/icons/bold-purple-free-samples/32/Torch_Light_Flashlight_Flash_Brightness-128.png" alt="Card image cap">
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-0 bg-gray container-fluid">
                <div class="card-body">
                    <div class="row">
                        <p class="card-text">Các thiết bị</p>
                    </div>
                    <div class="row">
                        <div class="col col-5 d-flex">
                            <p class= "mr-5">Led 1</p>
                            <label class="switch">
                                <input type="checkbox" id="led1">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="col col-5 d-flex">
                            <p class= "mr-5">Led 2</p>
                            <label class="switch">
                                <input type="checkbox" id="led2">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>
        </div>
        
    </div>
</div>
<script>
    const host = '{{{host}}}'
    const url = `http://${host}:3000/leds`
    const sendingLeds = (url, data) => {
        fetch(url, {
            method: 'POST',
            body: JSON.stringify({data}),
            headers: {"Content-type": "application/json; charset=UTF-8"}
        })
        .then(response => response.json())
        .then(json => console.log(json))
    }

    document.addEventListener('DOMContentLoaded', function() {
        $("input[type=checkbox]#led1").change(function(){
            console.log(this)
            if ( this.checked ){
                const data = {led1:"on"}

                var isChecked = $("input[type=checkbox]#led2").is(":checked")
                if(isChecked){
                    data.led2 = "on"
                } else {
                    data.led2 = "off"
                }
                sendingLeds(url, data)


                //fetch('http://localhost:3000/leds/led1', {
                // Adding method type
                //method: "POST",

                // Adding body or contents to send
                //body: JSON.stringify({
                //    "led1": "on"
                //}),
                
                // Adding headers to the request
                //headers: {
                  //  "Content-type": "application/json; charset=UTF-8"
                //}
                //})
                //.then(response => response.json())
                //.then(json => console.log(json)); 
                
                 // Displaying results to console
            
            } else {
                const data = {led1:"off"}
                var isChecked = $("input[type=checkbox]#led2").is(":checked")
                if(isChecked){
                    data.led2 = "on"
                } else {
                    data.led2 = "off"
                }
                sendingLeds(url, data)


               // fetch('http://localhost:3000/leds/led1', {
                // Adding method type
                //    method: "POST",
                    
                    // Adding body or contents to send
                 //   body: JSON.stringify({
                   //     "led1": "off"
                    //}),
                    
                    // Adding headers to the request
                 //   headers: {
                 //       "Content-type": "application/json; charset=UTF-8"
                  //  }
                   // })
                    //.then(response => response.json()) 
                    // Displaying results to console
                    //.then(json => console.log(json));
                }
                
            // don't know what it does
            // if ( $(this).prop("checked") ){}   
            //or
            // if ( $(this).is(":checked") ){}
        });

        $("input[type=checkbox]#led2").change(function(){
            console.log(this)
            if ( this.checked ){
                const data = {}
                let isChecked = $("input[type=checkbox]#led1").is(":checked")
                if(isChecked){
                    data.led1 = "on"
                } else {
                    data.led1 = "off"
                }
                data.led2 = 'on'
                sendingLeds(url, data)

              //  fetch('http://localhost:3000/leds/led2', {
                // Adding method type
               // method: "POST",
                
                // Adding body or contents to send
               // body: JSON.stringify({
                  //  "led2": "on"
                //}),
                
                // Adding headers to the request
             //   headers: {
               //     "Content-type": "application/json; charset=UTF-8"
                //}
            //})
                //.then(response => response.json())
                
                // Displaying results to console
                //.then(json => console.log(json));
            
            }
            else {
                const data = {}
                let isChecked = $("input[type=checkbox]#led1").is(":checked")
                if(isChecked){
                    data.led1 = "on"
                } else {
                    data.led1 = "off"
                }
                data.led2 = 'off'
               sendingLeds(url, data)

                //fetch('http://localhost:3000/leds/led2', {
                // Adding method type
                 //   method: "POST",
                    
                    // Adding body or contents to send
                   // body: JSON.stringify({
                    //    "led2": "off"
                    //}),
                    
                    // Adding headers to the request
                    //headers: {
                      //  "Content-type": "application/json; charset=UTF-8"
                    //}
                //})
               // .then(response => response.json())
                
                // Displaying results to console
                //.then(json => console.log(json));
            }
            // don't know what it doest
            //if ( $(this).prop("checked") ){}   
            //or
            //if ( $(this).is(":checked") ){}
        });
    })
</script>