<div class="card device-board container-fluid">
    <div class="row board-header bg-dark p-2">
        <h4>Điều khiển thiết bị</h4>
    </div>
    <div class="row p-1">
        <div class="row justify-content-md-center p-2">
            <div class="col col-4 bg-gray m-1 p-2">
                <div class="card">
                    <div class="container-fluid">
                        <div class="row justify-content-md-center">
                        <div class="card-body col-8 col ">

                            <p class="card-text">Nhiệt độ</p>
                            <span class="badge badge-success">Success</span>
                        </div>
                        <img class="card-img-top col-4 p-2" src="https://cdn1.iconfinder.com/data/icons/covid-19-74/32/temperature_thermometer_covid-19-128.png" alt="Card image cap">
                    </div>
                    </div>
                </div>
            </div>
            <div class="col col-4 bg-gray m-1 p-2">
                <div class="card">
                    <div class="container-fluid">
                        <div class="row justify-content-md-center">
                        <div class="card-body col-8 col">

                            <p class="card-text">Độ ẩm</p>
                            <span class="badge badge-success">Success</span>
                        </div>
                        <img class="card-img-top col-4 p-2" src="https://cdn4.iconfinder.com/data/icons/the-weather-is-nice-today/64/weather_44-128.png" alt="Card image cap">
                    </div>
                    </div>
                </div>
            </div>
            <div class="col col-4 bg-gray m-1 p-2">
                <div class="card">
                    <div class="container-fluid">
                        <div class="row justify-content-md-center">
                        <div class="card-body col-8 col">

                            <p class="card-text">Ánh sáng</p>
                            <span class="badge badge-success">Success</span>
                        </div>
                        <img class="card-img-top col-4 p-2" src="https://cdn4.iconfinder.com/data/icons/bold-purple-free-samples/32/Torch_Light_Flashlight_Flash_Brightness-128.png" alt="Card image cap">
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-0 bg-gray container-fluid">
                <div class="card-body">
                    <div class="row">
                        <p class="card-text">Các thiết bị</p>
                    </div>
                    <div class="row">
                        <div class="col col-5">
                            Led 1
                        </div>
                        <div class="col col-5">
                            Led 2
                        </div>
                    </div>
                </div>
        </div>
        
    </div>
</div>